<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.bignerdranch.com.myapplication">
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".Splash"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CreateRecipe"              android:screenOrientation="portrait" />
        <activity android:name=".SelectIngredientActivity"  android:screenOrientation="portrait" />
        <activity android:name=".EditStepActivity"          android:screenOrientation="portrait"/>
        <activity android:name=".RecipeView"                android:screenOrientation="portrait"/>
        <activity android:name=".Login"                     android:screenOrientation="portrait"/>
        <activity android:name=".Registrar"                 android:screenOrientation="portrait"/>
        <activity android:name=".Add_Ingredient"            android:screenOrientation="portrait"/>
        <activity android:name=".ImageViewCompleteFragment"/>

    </application>

</manifest>